.clear {
	clear:both;
	font-size:0;
	height:1%;
	line-height:0;
}

body {
	margin: 0 auto;
 	padding: 0;
 	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
 	border-top: 2px solid #2A4F6F;
}
#container {
	background: #36291C;
	margin: auto;
}
#header-wrap {
	margin:0 auto;
	position:relative;
	margin: auto;
	width: 978px;
}
#header {
	border-top: 1px solid #778899;
 	border-bottom: 1px dotted #B2BCC6;
 	height: 3em;
 	width: 978px;
}

#header .logo {
 	float: left;
 	width: 187px;
 	margin-left: 1.5em;
 	margin-top: 0.5em; 
}
#header #eyebrow {
	font: 80% Georgia, "Times New Roman", Times, serif;
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	background-color:#EEEEEE;
	float:right;
	height:30px;
	line-height:22px;
	max-width:750px;
	padding:3px 10px 0;
	width:auto;
}
#eyebrow ul {
	display:inline;
	margin:0;
}
#eyebrow li {
	background:transparent url(../images/modules/header/userbox/bar_separator.gif) no-repeat scroll 5px 0;
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0 0 0 0px;
}
#header #eyebrow a {
	color:#4183C4;
	font-weight:bold;
	text-decoration:none;
}
#header a {
	color:#FFFFFF;
}
#eyebrow ul li a {
	text-shadow:1px 1px 1px #FFFFFF;
}
a {
	color:#4183C4;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
}
#menu {
	font-size:0.9em;
	height:40px;
	left:0;
	border-top: 1px solid #778899;
 	border-bottom: 1px dotted #B2BCC6;
 	width: 978px;
}
#menu ul {
	height:40px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
 
#menu li {
	display:block;
	float:left;
	height:37px;
	margin:0 10px 0 0;
}

#menu li span {
	color:#FFFFFF;
	display:block;
	font-size:19px;
	font-weight:bold;
	line-height:15px;
	padding:10px 15px 0;
	text-shadow:1px 1px 1px #3C4F0F;
}
}
 
#menu a:link, #navigation a:visited {
	color:#FFFFFF;
	display:block;
	height:37px;
	text-decoration:none;
}
 
#menu a:hover {
	color: #FFFFFF;
 	background-color: #711515;
}


#main {
	width: 978px;

	margin-left: auto;
	margin-right: auto;
}

#tab {
	font-size:0.9em;
	height:40px;
	left:0;
	border-top: 1px solid #778899;
 	border-bottom: 1px dotted #B2BCC6;
}
#tab ul {
	height:40px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
 
#tab li {
	display:block;
	float:left;
	height:37px;
	margin:0 10px 0 0;
}

#tab li span {
	color:#FFFFFF;
	display:block;
	font-size:19px;
	font-weight:bold;
	line-height:15px;
	padding:10px 15px 0;
	text-shadow:1px 1px 1px #3C4F0F;
}
}
 
#tab a:link, #navigation a:visited {
	color:#FFFFFF;
	display:block;
	height:37px;
	text-decoration:none;
}
 
#tab a:hover {
	color: #FFFFFF;
 	background-color: #711515;
}

#footer {
	background:#36291C none repeat scroll 0 0;
	border-top:1px solid #FFFFFF;
	clear:both;
	color:#FFFFFF;
	margin:40px 0 0;
	padding:20px;
	text-align:center;
}
#footer .footer-wrap {
	margin:0 auto;
	padding:40px 0;
	position:relative;
	width:978px;
}
#footer .column {
	float:left;
	margin:0 24px 0 0;
	padding:0 10px 0 0;
	position:relative;
	width:310px;
}
#footer .copyright {
	border-top:1px solid #4F4236;
	font-size:12px;
	margin:40px 0 0;
	padding:15px 0 0;
	position:relative;
}
.copyright p {
	color:#DFD0C3;
	margin:0;
	padding:0;
}
.copyright p.right {
	position:absolute;
	right:0;
	text-align:right;
	top:15px;
}
.post {
	border-bottom:1px solid #E7E7E7;
	clear:both;
	color:#323232;
	font-size:13px;
	padding:10px 4px;
}
.post .postleft {
	display:inline;
	float:left;
	width:124px;
}
.post .postleft .votes {
	background:transparent url(/assets/images/votes.gif) no-repeat scroll left top;
	display:inline;
	float:left;
	font-size:93%;
	height:50px;
	margin-right:10px;
	padding:5px 0;
	text-align:center;
	width:55px;
}
.post .postleft .votes strong {
	font-size:232.5%;
}
.post .postleft .answers strong {
	font-size:232.5%;
}
.post .postleft .answers {
	background:#0094D2 url(/assets/images/answers.gif) no-repeat scroll left top;
	color:#FFFFFF;
	display:inline;
	float:left;
	font-size:93%;
	height:50px;
	padding:5px 0;
	text-align:center;
	width:55px;
}
.post .postmain {
	margin-left:124px;
	padding-left:11px;
}
.post .postmain h3.title {
	color:#0094D2;
	font-size:108%;
	font-weight:bold;
	padding-bottom:5px;
}
.post .postmain h3.title a {
	color:#0094D2;
}
.post .postmain .avatar, .bar .avatar {
	display:inline;
	float:right;
	font-size:77%;
	margin-left:20px;
	width:70px;
}
.avatar a:link, a:visited {
	color:#0094D2;
	font-weight:bold;
	text-decoration:none;
}
.post .postmain h3.title {
	color:#0094D2;
	font-size:108%;
	font-weight:bold;
	padding-bottom:5px;
}
.post .postmain h3.title a {
	color:#0094D2;
}

.post .postmain .tags {
	color:#7E7E7E;
	font-size:93%;
	margin-top:10px;
}
.post .postmain .tags .tag {
	margin:0 0px;
}
a.tag, a.alttag {
	background:transparent url(/assets/images/tag-right.gif) no-repeat scroll right top;
	color:#7E7E7E;
	cursor:pointer;
	display:-moz-inline-box;
	font-weight:normal;
	white-space:nowrap;
}
a.tag span, a.alttag span {
	background:transparent url(/assets/images/tag-left.gif) no-repeat scroll left top;
	color:#7E7E7E;
	display:inline-block;
	font-weight:normal;
	line-height:20px;
	padding:0 16px;
}
