#{extends 'main.html' /}
#{set title:'Posts tagged with ' + tag /}
 
*{********* Title ********* }*
 
#{if posts?.size() > 1}
   <h3>There are ${posts.size()} posts tagged '${tag}'</h3>  
#{/if} 
#{elseif posts}
    <h3>There is 1 post tagged '${tag}'</h3>  
#{/elseif}
#{else}
    <h3>No post tagged '${tag}'</h3>
#{/else}
 
*{********* Posts list *********}*
 
	#{if posts?.size() > 0}
		#{list items:posts, as:'post'}
			<div class="post">
				<div class="postleft">
					<div class="votes">
						<strong>0</strong>
						<br/>
						votes
					</div>
					<div class="answers">
						<strong>${post.comments.size() ?: '0'}</strong>
						comment${post.comments.size().pluralize()}
					</div>
				</div>
				<div class="postmain">
					<h3 class="post-title">
						<a rel="bookmark" href="@{Application.show(post.id)}">${post.title}</a>
					</h3>
					<div class="tags">
						<strong>Tags:</strong>
						#{list items:post.tags, as:'tag'}
	    					<a class="tag" href="@{Application.listTagged(tag.name)}"><span>${tag}</span></a>
						#{/list}
						<strong>Posted: ${post.createdDate.format('dd MMM yy')}</strong>
					</div>
					<div class="author">
						<a href="@{Profile.index(post.user.id)}">${post.user.displayName}</a>
					</div>
					<div class="clear">  </div>
				</div>

			</div>
		#{/list}
	#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}