<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
                Goalazo.com
            </div>
            <ul id="tools">
            	#{if session.get("user.email")}
            		<li><a href="@{Profile.index()}">${session.get("user.displayName")}</a></li>
            		<li>
                    	<a href="@{Application.logout()}">Log out</a>
                	</li>
           		#{/if}
				#{else}
                	<li>
                    	<a href="@{Application.login()}">Sign in</a>
                	</li>
				#{/else}
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
                <h2>${blogBaseline}</h2>
            </div>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
            Goalazo.com - All about the beautiful game of Soccer! 
        </p>
        
    </body>
</html>
