<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
    	<div id="notify-container">  </div>
        <div class="container">
        	<!--<div id="big-top-area">
				<div class="content">
					<div class="left">
						<h1 class="title-what">What is Design Snack?</h1>
						<h2>In simple terms, Design Snack is a socially-powered web design showcase.</h2>
						<p>We've taken the CSS/XHTML and Flash web design gallery and broke the mold, providing the users themselves with the power to create what is essentially a great web portfolio and the ultimate inspiration tool.</p>
					</div>
					<div class="right">
						<small>Need to know more?</small>
						<h2 class="screencast">
							<a id="screencast" class="ds-videolightbox">
							</a>
						</h2>
						<small>Ready to jump in?</small>
						<h2 class="register">
							<a id="registration-1" class="ds-lightbox">
							<cufon class="cufon cufon-canvas" style="width: 58px; height: 35px;">
								<canvas width="74" height="35" style="width: 74px; height: 35px; top: 1px; left: 0px;"/>
								<cufontext>Get </cufontext>
							</cufon>
							<cufon class="cufon cufon-canvas" style="width: 112px; height: 35px;">
								<canvas width="128" height="35" style="width: 128px; height: 35px; top: 1px; left: 0px;"/>
								<cufontext>Started </cufontext>
							</cufon>
							<cufon class="cufon cufon-canvas" style="width: 65px; height: 35px;">
								<canvas width="75" height="35" style="width: 75px; height: 35px; top: 1px; left: 0px;"/>
								<cufontext>Here</cufontext>
							</cufon>
							</a>
						</h2>
						<small>Already a Member?</small>
						<h2 class="signin">
							<a id="signin-1" class="ds-lightbox" rel="page=/">
								<cufon class="cufon cufon-canvas" style="width: 58px; height: 35px;">
									<canvas width="74" height="35" style="width: 74px; height: 35px; top: 1px; left: 0px;"/>
									<cufontext>Get </cufontext>
								</cufon>
								<cufon class="cufon cufon-canvas" style="width: 105px; height: 35px;">
									<canvas width="121" height="35" style="width: 121px; height: 35px; top: 1px; left: 0px;"/>
									<cufontext>Signed </cufontext>
								</cufon>
								<cufon class="cufon cufon-canvas" style="width: 28px; height: 35px;">
									<canvas width="36" height="35" style="width: 36px; height: 35px; top: 1px; left: 0px;"/>
									<cufontext>In</cufontext>
								</cufon>
							</a>
						</h2>
					</div>
					<div class="clear"/>
				</div>
			</div> -->
        	
        	<div class="sub-container">
        		<div id="tabArea">
					<div class="ajax-tabs static-tabs leftSide">
						<ul>
							<li>
								<a id="top_designs" class="selected">
									<span>Hot</span>
								</a>
							</li>
							<li>
								<a id="random_designs">
									<span>Recent</span>
								</a>
							</li>
							<li>
								<a id="random_designs">
									<span>Ask</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="tabs sidebar-tabs rightSide">
						<ul>
							<li>
								<a class="selected" href="#sponsors">Sponsors</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div id="mainContent" class="clear">
					<div id="sidebar leftSide">
            			#{doLayout /}
            		</div>
            		<div id="sidebar rightSide">
            			
            		</div>
        		</div>
        		
				<div id="header">
					<h2>
						<a href="/">Design Snack - XHTML, CSS, Flash, Web Design & Web Development Inspiration Gallery Showcase</a>
					</h2>
					<div id="navigation">
						<ul>
							<li><a href="/"><span>Home</span></a></li>
							<li class="active"><span>About</span></li>
							<li><a href="/blog/"><span>Blog</span></a></li>							
							<li><a href="@{Application.create()}"><span>Ask a Question</span></a></li>
						</ul>
					</div>
					<div id="eyebrow">
						<span class="cap">
							#{if session.get("user.email")}
								<a href="@{Profile.index()}">${session.get("user.displayName")}</a>
	                    		<a href="@{Application.logout()}">Log out</a>
	           				#{/if}
							#{else}
	                    		<a href="@{Application.login()}">Sign in</a>
							#{/else}
							<a href="/about">about</a>
							<a href="/faq">faq</a>	
						</span>
					</div>
					<div id="search">
						<form class="search" method="get" action="/search/">
							<p>
								<input class="textbox" type="text" onblur="if (this.value == '') {this.value = 'Search ...';}" onfocus="if (this.value == 'Search ...') {this.value = '';}" value="Search ..." name="q"/>
								<input class="submit" type="submit" value="Go"/>
							</p>
						</form>
						<div class="clear"/>
					</div>
				</div>
			</div>
		</div>
</div>		
		        
		<div id="footer">
			<div class="footer-wrap">
				<div class="column twitter"></div>
				<div class="column"></div>
				<div class="column last"></div>
				<div class="clear"/>
				<div class="copyright">
					<p>
						Copyright © 2009
						<a title="C&G Marquees" href="/">C&G Marquees</a>
						. All Rights Reserved.
						<a onclick="window.open(this.href); return false" title="Website design by 247 Creative, Chichester" href="http://www.247creative.co.uk/">Website Design</a>
						by
						<a onclick="window.open(this.href); return false" title="Website design by 247 Creative, Chichester" href="http://www.247creative.co.uk/">247 Creative</a>
					</p>
				</div>
			</div>
		</div>
    </body>
</html>
