<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
    	<div id="notify-container">  </div>
        <div id="container">
        	<div id="header-wrap">
			<div id="header">
				<div class="logo">
					<a href="/">
						<img src="public/images/goalazo.png" width="187" height="29" alt="Stage &amp; Screen" /> 
					</a>
				</div>
				<div id="eyebrow">
					<ul>
						<li>
							#{if session.get("user.email")}
								<a href="@{Profile.index()}">${session.get("user.displayName")}</a>
								<span class="link-separator">|</span>
								<a href="@{Auth.logout()}">Log out</a>
							#{/if}
							#{else}
								<a href="@{Auth.login()}">Sign in</a> OR
								<a href="/">Be a member</a>
							#{/else}
							<span class="link-separator">|</span>
						</li>
						<li>
							#{if session.get("user.email")}
								<a href="@{Profile.index()}">Settings</a>
								<span class="link-separator">|</span>
							#{/if}
							
						</li>
						<li>
							
						</li>
					</ul>
				</div>
			</div>	
			
			<div id="menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="">Discussions</a>
					</li>
					<li>
						<a href="">Users</a>
					</li>
					<li>
						<a href="">Tags</a>
					</li>
					<li>
						<a href="">Blog</a>
					</li>
					<li>
						<a href="">Feedback</a>
					</li>
					<li>
						<a href="">RSS</a>
					</li>
					<li>
						<a href="@{Application.create()}">Create a new Post</a>
					</li>
				</ul>
			</div>
		</div>
		</div>	
			
		<div id="main">
			<div id="tab">
				<ul>
					<li>
						<a href="/">
							Hot
						</a>
					</li>
					<li>
						<a href="">
							Recent
						</a>
					</li>
					<li>
						<a href="">
							Month
						</a>
					</li>
					<li>
						<a href="" class="selected">
							Year
						</a>
					</li>
				</ul>
			</div>
			<div id="content">
				#{doLayout /}
			</div>
			<div id="sidebar">			
			</div>
		</div>	
				
		<div id="footer">
			<div class="footer-wrap">
				<div class="copyright">
					<p>
					<strong>Goalazo.com</strong>
					<a href="/">About Us</a>
					|
					<a href="mailto:info@goalazo.com">Contact Us</a>
					|
					</p>
					<p>
					<strong>Subscriptions</strong>
					<a href="http://feeds2.feedburner.com/goalazo">RSS Feed</a>
					|
					<a href="http://www.twitter.com/goalazo">Follow on Twitter</a>
					</p>
					<p style="color: rgb(85, 85, 85);">© 2009 Goalazo.com. All Rights Reserved.</p>
				</div>
			</div>
		</div> 		
    </body>
</html>
